<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <!--testsuite name="pint">
            <directory>tests/pint</directory>
        </testsuite-->
        <testsuite name="example">
            <directory>tests/example</directory>
        </testsuite>
    </testsuites>
</phpunit>
